@page "/teachers"
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using BlazorAcademy.Models
@using BlazorAcademy.Data
@implements IAsyncDisposable
@inject IDbContextFactory<BlazorAcademy.Data.BlazorAcademyContext> DbFactory

<PageTitle>Index</PageTitle>

<h1>Index</h1>

<p>
    <a href="teachers/create">Create New</a>
</p>

<QuickGrid Class="table" Items="context.Teachers">
    <PropertyColumn Property="teachers => teachers.last_name" />
    <PropertyColumn Property="teachers => teachers.first_name" />
    <PropertyColumn Property="teachers => teachers.middle_name" />
    <PropertyColumn Property="teachers => teachers.birth_date" />
    <PropertyColumn Property="teachers => teachers.work_since" />
    <PropertyColumn Property="teachers => teachers.rate" />

    <TemplateColumn Context="teachers">
        <a href="@($"teachers/edit?teacher_id={teachers.teacher_id}")">Edit</a> |
        <a href="@($"teachers/details?teacher_id={teachers.teacher_id}")">Details</a> |
        <a href="@($"teachers/delete?teacher_id={teachers.teacher_id}")">Delete</a>
    </TemplateColumn>
</QuickGrid>

@code {
    private BlazorAcademyContext context = default!;

    protected override void OnInitialized()
    {
        context = DbFactory.CreateDbContext();
    }

    public async ValueTask DisposeAsync() => await context.DisposeAsync();
}
