@page "/students/edit"
@using Microsoft.EntityFrameworkCore
@using BlazorAcademy.Models
@inject IDbContextFactory<BlazorAcademy.Data.BlazorAcademyContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Edit</PageTitle>

<h1>Edit</h1>

<h2>Students</h2>
<hr />
@if (Students is null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="row">
        <div class="col-md-4">
            <EditForm method="post" Model="Students" OnValidSubmit="UpdateStudents" FormName="edit" Enhance>
                <DataAnnotationsValidator />
                <ValidationSummary role="alert"/>
                <input type="hidden" name="Students.stud_id" value="@Students.stud_id" />
                <div class="mb-3">
                    <label for="last_name" class="form-label">last_name:</label>
                    <InputText id="last_name" @bind-Value="Students.last_name" class="form-control" aria-required="true"/>
                    <ValidationMessage For="() => Students.last_name" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="first_name" class="form-label">first_name:</label>
                    <InputText id="first_name" @bind-Value="Students.first_name" class="form-control" aria-required="true"/>
                    <ValidationMessage For="() => Students.first_name" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="middle_name" class="form-label">middle_name:</label>
                    <InputText id="middle_name" @bind-Value="Students.middle_name" class="form-control" aria-required="true"/>
                    <ValidationMessage For="() => Students.middle_name" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="birth_date" class="form-label">birth_date:</label>
                    <InputDate id="birth_date" @bind-Value="Students.birth_date" class="form-control" aria-required="true"/>
                    <ValidationMessage For="() => Students.birth_date" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="group_id" class="form-label">group_id:</label>
                    <InputNumber id="group_id" @bind-Value="Students.group" class="form-control" aria-required="true"/>
                    <ValidationMessage For="() => Students.group" class="text-danger" />
                </div>
                <button type="submit" class="btn btn-primary">Save</button>
            </EditForm>
        </div>
    </div>
}

<div>
    <a href="/students">Back to List</a>
</div>

@code {
    [SupplyParameterFromQuery]
    private int stud_id { get; set; }

    [SupplyParameterFromForm]
    private Students? Students { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        Students ??= await context.Students.FirstOrDefaultAsync(m => m.stud_id == stud_id);

        if (Students is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }

    // To protect from overposting attacks, enable the specific properties you want to bind to.
    // For more information, see https://learn.microsoft.com/aspnet/core/blazor/forms/#mitigate-overposting-attacks.
    private async Task UpdateStudents()
    {
        using var context = DbFactory.CreateDbContext();
        context.Attach(Students!).State = EntityState.Modified;

        try
        {
            await context.SaveChangesAsync();
        }
        catch (DbUpdateConcurrencyException)
        {
            if (!StudentsExists(Students!.stud_id))
            {
                NavigationManager.NavigateTo("notfound");
            }
            else
            {
                throw;
            }
        }

        NavigationManager.NavigateTo("/students");
    }

    private bool StudentsExists(int stud_id)
    {
        using var context = DbFactory.CreateDbContext();
        return context.Students.Any(e => e.stud_id == stud_id);
    }
}
